@import "bootstrap/scss/bootstrap";

$menu-width: 14rem;
$transition: 0.25s ease-in-out;
$shadow: drop-shadow(0 0 6px #00000050);

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #1a1a1a;
}

.title {
  position: relative;
  display: grid;
  height: 2rem;
  background: blue;
  color: white;
  filter: drop-shadow(0 0 4px #000000);
  z-index: 100000;

  span {
    place-self: center;
  }
}

main {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: calc(100dvh - 2rem);
}

.menu {
  position: relative;
  min-width: 4rem;
  width: $menu-width;
  width: 4rem;
  background-color: white;
  min-height: calc(100dvh - 2rem);
  color: #123;
  padding: 1rem;
  filter: $shadow;
  z-index: 100;

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      list-style: none;
      padding-block: inherit;
      width: 100%;
      transition: $transition;
      padding-left: 0.25rem;
      margin-block: 0.5rem;

      button {
        span {
          margin-left: 1rem;
        }
      }
    }

    .autocomplete {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      background-color: white;
      padding: 0;
      margin: 0;
      z-index: 100;
      width: 19rem;

      .MuiFormControl-root {
        position: relative;
        max-height: 4rem;

        label {
          position: absolute;
          top: -1.5rem;
          left: 0rem;
          background-color: white;
          padding-inline: 0.25rem;
        }
      }
    }
  }
}

.open {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 24rem;
  transition: $transition;
}

.topics {
  position: absolute;
  top: 0;
  left: 4rem;
  height: 100%;
  width: 20rem;
  background: antiquewhite;
  padding: 1rem;
  transition: $transition;
  filter: $shadow;
  overflow: auto;
  z-index: 20;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topics-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    hr {
      width: 100%;
    }

    .topic-example {
      content: ".";
      width: 15rem;
      height: 10rem;
      border: 1px solid black;
    }
  }
}

.card-container {
  position: absolute;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .card {
    display: flex;
    justify-content: space-between;
    width: 60dvw;
    height: 60dvh;
    padding: 1rem;

    .title-container,
    .q-a-container {
      display: flex;
      justify-content: center;
    }

    .tags-container {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;

      .tags-title {
        font-weight: bold;
        margin-right: 1rem;
      }

      .tag {
        background: gray;
        padding: 0.125rem 0.5rem;
        border-radius: 10rem;
        color: white;
        margin-right: 0.5rem;
      }
    }
  }
}

.hamburger {
  cursor: pointer;

  input {
    display: none;

    &:checked + svg {
      transform: rotate(-45deg);

      .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
      }
    }
  }

  svg {
    height: 2.5em;

    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);

    .line {
      fill: none;
      stroke: black;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 3;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
      stroke-dasharray: 12 63;
    }
  }
}

.btn {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  border-radius: 0;
  transition: $transition;

  &:hover {
    scale: 1.1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: -4px;
    background-image: linear-gradient(90deg, black, black);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size $transition;
  }

  &:hover::before {
    background-size: 100% 2px;
  }
}

.show {
  animation: appear 1s;
  animation-delay: 0.5s;
}

.no-underline {
  &:hover::before {
    content: "";
    background-size: 0% 2px;
  }
}

.show-menu-text {
  animation: appear 250ms ease;
}

.show-menu-text {
  transition: 1s ease-in-out, visibility 0s 0s;
}

.menu {
  transition: width 0.5s ease-in-out;
}

.menu.open .menu-text {
  width: auto;
}

.topics-hidden {
  left: -16rem;
  transition: $transition;
}

.d-none {
  display: none !important;
}

.disappear {
  animation: disappear 250ms;
}

// * keyframes

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
