@import "bootstrap/scss/bootstrap";

$menu-width: 14rem;
$transition: 0.25s ease-in-out;

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #1a1a1a;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background: blue;
  color: white;
  filter: drop-shadow(0 0 4px #000000);
  z-index: 100000;
}

main {
  display: flex;
  justify-content: space-between;
}

.menu {
  position: relative;
  min-width: 4rem;
  width: $menu-width;
  width: 4rem;
  background-color: white;
  min-height: calc(100dvh - 2rem);
  color: #123;
  padding: 1rem;
  filter: drop-shadow(0 0 4px #00000025);
  z-index: 100;

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      list-style: none;
      padding-block: inherit;
      width: 100%;
      transition: 250ms ease-in-out;
      padding-left: 0.25rem;
      margin-block: 0.5rem;

      button {
        span {
          margin-left: 1rem;
        }
      }
    }

    .autocomplete {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      background-color: white;
      padding: 0;
      margin: 0;
      z-index: 100;
      width: 19rem;

      .MuiFormControl-root {
        position: relative;
        max-height: 4rem;

        label {
          position: absolute;
          top: -1.5rem;
          left: 0rem;
          background-color: white;
          padding-inline: 0.25rem;
        }
      }
    }
  }
}

.open {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 24rem;
  transition: $transition;
}

.closed {
  transition: $transition;
}

.topics {
  position: absolute;
  top: 2rem;
  left: 4rem;
  height: calc(100% - 2rem);
  width: 20rem;
  background: antiquewhite;
  padding: 1rem;
  z-index: 0;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topics-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    hr {
      width: 100%;
    }

    .topic-example {
      content: ".";
      width: 15rem;
      height: 10rem;
      border: 1px solid black;
    }
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;

  .card {
    display: flex;
    align-items: center;
    height: 75%;
    width: 50%;
  }
}

.hamburger {
  cursor: pointer;

  input {
    display: none;

    &:checked + svg {
      transform: rotate(-45deg);

      .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
      }
    }
  }

  svg {
    height: 2.5em;

    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);

    .line {
      fill: none;
      stroke: black;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 3;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
      stroke-dasharray: 12 63;
    }
  }
}

.btn {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  border-radius: 0;
  transition: $transition;

  &:hover {
    scale: 1.1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: -4px;
    background-image: linear-gradient(90deg, black, black);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size $transition;
  }

  &:hover::before {
    background-size: 100% 2px;
  }
}

.show {
  display: inline;
  transition: $transition;
  transition-delay: 250ms;
  animation: appear 1s;
}

.hidden {
  display: none !important;
}

@keyframes appear {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: inline;
    opacity: 1;
  }
}
